/*##############################
Riders Club intro page styles
##############################*/

.riders-club {

    .card {
        border: 0;
        padding: 15px;
        opacity: 0.9;

        h1 {
            margin-bottom: 5px;
        }

        p.leadin {
            font-weight: 300;
            text-align: center;
        }
    }
}

@include screen("desktop") {

    .riders-club {
        position: relative;
        top: 36px;

        .card {
            border: 1px solid $border-color;

            h1 {
                padding-top: 60px;
            }

            h2 {
                margin-bottom: 1em;
            }
        }
    }
}